name: Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Format C/C++
      run: |
        python scripts/format.py
        git diff --exit-code

    - name: Lint Python
      run: ruff check

    - name: Type check Python
      run: mypy .

    - name: Format Python
      run: ruff format --check
